.circle-button:hover {
    -fx-scale-x: 1.2; /* Increase the X-axis scale by 20% */
    -fx-scale-y: 1.2; /* Increase the Y-axis scale by 20% */
}

.circle-button .graphic .label {
    -fx-text-fill: transparent;
}


